<!-- This file is part of TransMob.

   TransMob is free software: you can redistribute it and/or modify
   it under the terms of the GNU Lesser Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   TransMob is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Lesser Public License for more details.

   You should have received a copy of the GNU Lesser Public License
   along with TransMob.  If not, see <http://www.gnu.org/licenses/>.

-->
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfigurationServlet</servlet-name>
    <servlet-class>servlet.configuration.ConfigurationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DwellingSchemaServlet</servlet-name>
    <servlet-class>servlet.configuration.DwellingSchemaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModelRunServlet</servlet-name>
    <servlet-class>servlet.ModelRunServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>servlet.configuration.FileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DatabaseConfigurationServlet</servlet-name>
    <servlet-class>servlet.configuration.DatabaseConfigurationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DatabaseSaveServlet</servlet-name>
    <servlet-class>servlet.configuration.DatabaseSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TransimsFileServlet</servlet-name>
    <servlet-class>servlet.configuration.TransimsFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DwellingFileServlet</servlet-name>
    <servlet-class>servlet.configuration.DwellingFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RunsServlet</servlet-name>
    <servlet-class>servlet.configuration.RunsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Initialise Paths for the model</description>
    <display-name>Initialise Paths</display-name>
    <servlet-name>InitialisePaths</servlet-name>
    <servlet-class>servlet.InitialisePaths</servlet-class>
  </servlet>
    <servlet>
    <description>judge the number of servers</description>
    <display-name>JudgeServersServlet</display-name>
    <servlet-name>JudgeServersServlet</servlet-name>
    <servlet-class>servlet.JudgeServersServlet</servlet-class>
  </servlet>
  
  
   <servlet-mapping>
    <servlet-name>JudgeServersServlet</servlet-name>
    <url-pattern>/servlet/JudgeServersServlet</url-pattern>
  </servlet-mapping> 
  
    <servlet>
    <description>class for user's operation</description>
    <display-name>class for user's operation</display-name>
    <servlet-name>UserOperationServlet</servlet-name>
    <servlet-class>servlet.configuration.UserOperationServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>UserOperationServlet</servlet-name>
    <url-pattern>/servlet/configuration/UserOperationServlet</url-pattern>
  </servlet-mapping> 
  
  
  <servlet-mapping>
    <servlet-name>ConfigurationServlet</servlet-name>
    <url-pattern>/servlet/configuration/ConfigurationServlet</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>DwellingSchemaServlet</servlet-name>
    <url-pattern>/servlet/configuration/DwellingSchemaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModelRunServlet</servlet-name>
    <url-pattern>/servlet/ModelRunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/servlet/configuration/FileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransimsFileServlet</servlet-name>
    <url-pattern>/servlet/configuration/TransimsFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DwellingFileServlet</servlet-name>
    <url-pattern>/servlet/configuration/DwellingFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatabaseConfigurationServlet</servlet-name>
    <url-pattern>/servlet/configuration/DatabaseConfigurationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatabaseSaveServlet</servlet-name>
    <url-pattern>/servlet/configuration/DatabaseSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RunsServlet</servlet-name>
    <url-pattern>/servlet/configuration/RunsServlet</url-pattern>
  </servlet-mapping>
  
  

  <welcome-file-list>
    <welcome-file>/welcome.html</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>

  <context-param>
	<param-name>log4jConfigLocation</param-name>
    <param-value>file:///${config.dir}/log4jUI.xml</param-value>
  </context-param>
  
  <listener>
     <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>

   
   <listener>
    <listener-class>servlet.AppServletContextListener</listener-class>
  </listener>


</web-app>